/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/
.responsive {
  width: 100%;
  height: auto;
  border-radius: 0px;
  padding: 20px;
}


/* Presentational style rules only
 * Not required
 */

html, .container {
  height: 100%;
}

/* Reset */
html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

/* Basic */
body { 
  font: 18px/23px "Cantarell", sans-serif;
  color: #0f0f0f;
}

h1 {
  color: #efecec;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 20px;
}

h2 {
  color: #000000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 0px;
  font-weight: 400;
  margin-top: 20px;
}

a {
  color: #ffffff;
}

p {
  margin: 0 0 15px 0;
}

strong {
  font-weight: 700;
}

.container {
  border-radius: 0px;
  padding: 20px;
  width: 45%;
  display: inline-grid;
}

.footer {
  width: 100%;
  background-color: rgba(0.6, 0, 0, 0.6);
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
}

/* Layout */

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
  z-index: 9999;
  position: fixed;
}

  .inner {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

.navbar a {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 24px;
  border-radius: 3px;
  padding: 2px 15px;
  text-decoration: none;
  margin-top: 8px;
}

.navbar text {
  display: inline-block;
  font-size: 18px;
  font-family: inherit;
  padding: 2px 15px;
  text-decoration: none;
  margin-top: 8px;
  color: #ffffff;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Special */
.sub-title {
  margin: 50px auto;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  color: #cafaea;
  border: 1px solid #cafaea;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

#more-content {
  display: none;
}



/* Form */

/* Style inputs with type="text", select elements and textareas */
input[type=text] {
  width: 300px;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically (not horizontally) resize the textarea */
}

/* Style inputs with type="checkbox" */
input[type=checkbox] {
  margin-top: 8px; /* Add a top margin */
  margin-bottom: 8px; /* Bottom margin */
}

/* Style inputs with type="text", select elements and textareas */
select, textarea {
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically (not horizontally) resize the textarea */
  display: inline-block;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #80c883;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:30px;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #4d5d53; /* dark sage green background */
  font-size:40px;
}

/* Add a background color and some padding around the form */
.user-info-label {
  width:100px;
  display: inline-block;
}